# Path to your Obsidian Vault root (e.g. ~/Documents/ObsidianVault or $HOME/self/MyNotes)
# The installation script will automatically template and copy files to .obsidian/plugins/rednote/
OBSIDIAN_VAULT_PATH=""
